certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
et-xmlfile==1.0.1
excel2json-3==0.1.6
idna==2.9
jdcal==1.4.1
kiwisolver==1.1.0
matplotlib==3.2.0
numpy==1.18.2
openpyxl==3.0.3
Pillow==7.0.0
pip==21.1
pyparsing==2.4.6
PySimpleGUI==4.15.2
python-dateutil==2.8.1
requests==2.23.0
setuptools==41.2.0
six==1.14.0
urllib3==1.25.8
xlrd==1.2.0
